.image {
    min-height: 100%;
    min-width: 100%;
    background-image: url("background.jpg");
    position: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.45);
}

.heading {
    color: white;
    text-align: center;
    padding-top: 250px;
    font-size: 6rem;
    font-family: 'Josefin Sans';
    font-weight: 200;
    font-weight: 500;
}

.container {
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: center;
    column-gap: 20rem;
}