.NavbarItems {
    background: #488AB2;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}

.navbar-name {
    color: white;
    justify-self: start;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2.8rem;
}

.navbar-menu {
    display: grid;
    grid-template-columns: repeat(2);
    grid-gap: 1em;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: right;
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.nav-links {
    color:white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    transition: 0.5s;
}

.nav-links:hover {
    opacity:1;
	font-size:135%;
	color:#FEFEFE;
    transition: 0.5s;
}