.button {
    border: none;
    text-decoration: none;
    background: none;
}

.social-icon {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.7s;
    height:5rem;
}

.social-icon:hover {
    opacity:1;
	transition:0.7s;
    transform: scale(1.2);
}

.social-icon:focus {
	opacity: 1;
}